<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <hh-card *ngFor="let post of posts$ | async; index as i; trackBy: trackByFn"
           [type]="post.type"
           [tags]="post.tags"
           [title]="post.title"
           [isHelping]="post.isHelping"
           [userData]="post.userData"
           [eventData]="post.eventData"
           [summary]="post.summary"
           (toggle)="sendChangeToApi($event, post.id)"
  ></hh-card>

  <ion-infinite-scroll threshold="25%" (ionInfinite)="fillPosts($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>


</ion-content>
